langchain
google-generativeai
PyPDF2
langchain-community
huggingface
transformers
langchain-google-genai
pypdf
# faiss-cpu
langchain-pinecone
langchain-unstructured
unstructured
markdownify
python-multipart

fastapi
Pillow
python-dotenv
uvicorn
